.messages{
    background-color: dodgerblue;
}
.messagesContainer {
    display: flex;
    justify-content: space-evenly;
}

.messagesContainer > div > ul > li {
    list-style-type: none;
}
.item{
    color: blue
}